.msin_div {
    width: 100%;
    overflow: hidden;
}

.header {
  position: relative;
  top: -105px;
  background-image: url(../images/interior-design-header-2.jpg);
  height: 50rem;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  }
  
  
  .header > .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    height: 20rem;
    padding: 20px;
  }
  
  
  .content_text {
    margin: 7rem 7px;
  }
  
  .content_text > h1 {
    font-size: 3em;
    font-family: cursive;
    text-align: center;
  }

.blogs {
    overflow: hidden;
  
  }
  
  .card_content_image_section {
  
    width: 50%;
  
  }
  
  .card_content_image {
    position: relative;
    background-image: url(../images/Interior-Design-Karachi.jpg);
    height: 50rem;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  
  /* card_image end */
  
  
  
  .productImg {
    object-fit: contain;
    width: 100%;
    border-radius: 9px;
    /* height: 27rem; */
    position: relative;
  }
  
  .productName {
    color: #020202;
    text-align: center;
    font-family: inherit;
    font-size: 1rem;
    margin: 10px;
  }
  
  .productPrice {
    color: #990000;
    text-align: center;
    font-family: inherit;
    font-size: 0.8rem;
}

  .productDes {
    font-weight: 400;
    color: #071350;
    padding: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: initial;
    max-height: 4.4vmax;
    font-size: 1vmax;
  }
  
  .productslug {
    margin: 10px;
    padding: 10px;
    color: #071350;
    border-bottom: 1px solid;
  }
  
  .groub {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 34px
  }
  
  @media (min-width: 320px) and (max-width: 767px) {
    .groub {
        padding: 7px;
      }

      .productDes {
            max-height: 11.4vmax;
            font-size: 2vmax;
      }
  
  }

    /* header mobile responsive */

@media (min-width: 320px) and (max-width: 767px) {
    .header {
      height: 19rem;
  }
  
  .header > .content {
    height: 23rem;
  }
  
  .content_text > h1 {
    font-size: 1em;
  }
  
  .content_text > p {
    font-size: 0.5em;
  }

  .body_text  > h1 {
    font-size: 1em;
  }
  
  .body_text  > p {
    font-size: 0.5em;
  }
  
  .content_text {
    margin: 17rem 7px;
  }

  }